<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="true">

    <!--
    web.xml文件加载顺序为：(与顺序无关)
    ServletContext -> context-param -> listener -> filter -> servlet
    -->

    <!-- 用来定义首页的列单，包含一个子元素：-->
    <welcome-file-list>
        <!--指定首页的文件名称-->
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

    <!--
    上面配置了当系统发生404错误时，跳转到错误处理页面NotFound.jsp。
    方法2：通过异常的类型配置error-page
    -->
    <error-page>
        <error-code>404</error-code>
        <location>/not_found.jsp</location>
    </error-page>
    <!--
      当系统发生java.lang.NullException（即空指针异常）时，跳转到错误处理页面error.jsp
      -->
    <error-page>
        <exception-type>java.lang.NullException</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>SpringMvcServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc.xml</param-value>
        </init-param>
        <!--
        当值为0或者大于0时，表示容器在应用启动时就加载这个servlet；
        当是一个负数时或者没有指定时，则指示容器在该servlet被选择时才加载。
        正数的值越小，启动该servlet的优先级越高。
         -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringMvcServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


</web-app>
